@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
	font-size: 16pt;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	color: #303030;
}

body {
	padding-top: 3em;
}

/* NAVBAR */
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	z-index: 2018;
	background-color: #FFFFFF;
}

#logo {
	width: 5em;
	height: 100%;
	background-image: url('nopic.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#logo>a {
	display: block;
	width: 100%;
	height: 100%;
}

#buttons {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#buttons>.button {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	font-weight: 500;
}

#logo>a, #buttons>.button>a {
	width: 100%;
	height: 100%;
}

#buttons>.button:hover,
#facebook:hover,
#logo:hover {
	background-color: #C8C8C8;
}

#facebook>a{
	display: block;
	width: 3em;
	height: 100%;
	background-image: url('nopic.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.section {
	position: relative;
}

.section:not(#title) {
	padding: 0.5em 0 0.75em;
}

.section>.content {
	padding: 0 10% 1em;
}

.nav {
	position: relative;
	top: -3.5em;
}

.titletext {
	font-size: 2em;
	font-weight: 500;
	text-align: center;
	margin: .25em 0;
}

/* TITLE */
#title {
	height: calc(100vh - 3em);
}

#banner {
	height: 80%;
	font-size: 2.5vh;
	background-color: #C8C8C8;
	background-image: url('banner.png');
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	position: relative;
}

#titlename {
	position: absolute;
	top: 4vh;
	left: 6vh;
	font-size: 4.5em;
	font-weight: 900;
	letter-spacing: .8ch;
	line-height: 1.25em;
	transform: scaleY(0.8);
	transform-origin: top left;
}

#info {
	position: absolute;
	bottom: 4vh;
	left: 6vh;
	font-weight: 700;
	transform: scaleY(0.8);
	transform-origin: bottom left;
}

#info>.upper {
	margin-left: .25ch;
}

#info>.upper>.left>.upper {
	font-size: 2em;
	letter-spacing: -.1ch;
	line-height: 1.25em;
}

#info>.upper>.left>.upper>div {
	height: .3em;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	border: .1em #303030 solid;
	margin: 0 .5ch;
}

#info>.upper>.left>.lower {
	font-size: 1.5em;
	line-height: 1.25em;
}

#info>.upper>.right {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-left: .8ch;
}

#info>.upper>.right>div {
	height: .15em;
	width: 80%;
	background-color: #303030
}

#info>.lower {
	font-size: 3.025em;
	line-height: 1.25em;
}

#subtitle {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	background-color: #FFFFFF;
	font-size: 3em;
	font-weight: 700;
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
	padding-left: 6vh;
}

#movie {
	position: absolute;
	border-radius: 100% 0 0 0;
	width: 5em;
	height: 5em;
	right: 0;
	bottom: 0;
	background-color: #A42028;
	color: #FFFFFF;
}

#movie>span {
	position: absolute;
	right: .5em;
	bottom: .5em;
}

/* GOAL */
#goal {
	background-color: #1899DB;
}

/* ACTIVITY */
#activity {
	background-color: #C8C8C8;
}

#activity .items {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

#activity .item {
	width: 40%;
	margin: .5em calc(25% - 20%);
}

#activity .item .pic {
	height: 240px;
}

#activity .item .nametime>* {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#activity .item .time {
	text-align: right;
}

#activity #emusic>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#activity #wear>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#activity #classic>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#activity #master>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/* TIMETABLE */
#timetable {
	background-color: #A42028;
	color: #FFFFFF;
}

#timetable .content>table {
	width: 46%;
	padding: 0 2%;
	text-align: center;
}

/* ISSUE */
#issue {
	background-color: #303030;
	color: #C8C8C8;
}

#issue .item {
	margin: 0 2%;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#issue .item .pic {
	height: 200px;
}

#issue #issue1>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#issue #issue2>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#issue #issue3>.pic{
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* ROUTE */
#route {
	background-color: #1899DB;
}

#route>.content {
	height: calc(100vh - 7em);
}

#route #map{
	height: 100%;
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}