@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
	font-size: 12pt;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	color: #303030;
}

body {
	padding-top: 3em;
}

/* NAVBAR */
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	z-index: 2018;
	background-color: #FFFFFF;
}

#logo {
	width: 5em;
	height: 100%;
	background-image: url('favicon256.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#logo>a {
	display: block;
	width: 100%;
	height: 100%;
}

#buttons {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#buttons>.blank {
	width: calc(100vw - 70ch);
}

#buttons>.button {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	font-weight: 500;
	font-size: 1.25em;
}

#logo>a, #buttons>.button>a {
	width: 100%;
	height: 100%;
}

#buttons>.button:hover,
#facebook:hover,
#logo:hover {
	background-color: #C8C8C8;
}

#facebook>a{
	display: block;
	width: 3em;
	height: 100%;
	background-image: url('facebook.png');
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
}

.section {
	position: relative;
}

.section:not(#title) {
	padding: 1.5em 0 2em;
}

.section>.content {
	padding: 0 10% 1em;
}

.nav {
	position: relative;
	top: -3.5em;
}

.titletext {
	font-size: 2em;
	font-weight: 500;
	text-align: center;
	margin: .5em 0;
}

/* TITLE */
#title {
	height: calc(100vh - 3em);
}

#banner {
	height: 80%;
	font-size: 2.5vh;
	background-color: #C8C8C8;
	background-image: url('banner2.png');
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
	position: relative;
}

#titlename {
	position: absolute;
	top: 4vh;
	left: 6vh;
	font-size: 4.5em;
	font-weight: 900;
	letter-spacing: .75ch;
	line-height: 1.25em;
	transform: scaleY(0.8);
	transform-origin: top left;
}

#info {
	position: absolute;
/*	top: calc(4vh - 1.25em);
	left: calc(6vh + 25ch);*/
	bottom: 4vh;
	left: 6vh;
	font-weight: 700;
	transform: scaleY(0.8);
	transform-origin: bottom left;
}

#info>.upper {
	margin-left: .25ch;
}

#info>.upper>.left>.upper {
	font-size: 2em;
	letter-spacing: -.1ch;
	line-height: 1.25em;
}

#info>.upper>.left>.upper>div {
	height: .3em;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	border: .1em #303030 solid;
	margin: 0 .5ch;
}

#info>.upper>.left>.lower {
	font-size: 1.5em;
	line-height: 1.25em;
}

#info>.upper>.right {
	font-size: 1.5em;
	line-height: 1.5em;
	margin-left: .8ch;
}

#info>.upper>.right>div {
	height: .15em;
	width: 80%;
	background-color: #303030
}

#info>.lower {
	font-size: 3.025em;
	line-height: 1.25em;
}

#subtitle {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
	background-color: #FFFFFF;
	font-size: 6vh;
	font-weight: 700;
	-webkit-align-items: center;
	    -ms-align-items: center;
	        align-items: center;
}

#subtitle>.title {
	font-size: 0.35em;
	margin-bottom: .5em;
	color: #C8C8C8	;
}

#time {
	text-align: center;
}

#time>*:not(:last-child) {
	border-right: #C8C8C8 solid .05ch;

}

#time .number {
	margin: 0 1ch;
}

#time .text {
	font-size: 0.25em;
	color: #C8C8C8;
}

#movie,
#movie-m {
	position: absolute;
	border-radius: 100% 0 0 0;
	width: 6em;
	height: 6em;
	right: 0;
	bottom: 0;
	color: #FFFFFF;
	background-color: #A42028;
	transform-origin: 100% 100%;
	transition: transform 100ms;
}

#movie:hover,
#movie-m:hover {
	transform: scale(1.25);
}

#movie>div,
#movie-m>div {
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 60%;
	height: 60%;
	float:right bottom;
	background-image: url('youtube.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#movie-m {
	display: none;
}

#youtube {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 2019;
}

#close {
	position: absolute;
	top: .5em;
	right: .5em;
	padding: 0 .5em;
	font-size: 2em;
	background-color: rgba(0,0,0,.2);
	color: white;
}

/* GOAL */
#goal {
	background-color: #303030;
	color: #FFFFFF;
	text-align: center;
}

#goal>.content {
	font-size: 1.5em;
	font-weight: 400;
	padding-bottom: 0;
}

/* ACTIVITY */
#activity {
	background-color: #FFFFFF;
	padding-bottom: 0;
}

#activity>.content{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0;
}

#activity .items {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

#activity .item {
	width: 48%;
	margin: .5em calc(25% - 24%);
	padding: .2em;
	background-color: #FFFFFF;
	border-radius: 5px;
}

#activity .item>.des {
	padding: 0 0 0 2ch;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#activity .item .pic {
	width: 24vw;
	height: 18vw;
	border-radius: 5px;
}

#activity .item .nametime {
	font-weight: 500;
}

#activity .item .name {
/*	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;*/
	font-size: 1.5em;
}

#activity .item .time,
#activity .item .performer {
/*	text-align: right;*/
	font-size: .8em;
}

#activity #emusic>.pic {
	background-image: url('emusic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#activity #synth>.pic {
	background-image: url('synth2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 30%;
}

#activity #dance>.pic {
	background-image: url('wear.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#activity #classic>.pic {
	background-image: url('classic2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#activity small {
	font-size: 0.7em;
	line-height: 1em;
}

/* TIMETABLE */
#timetable:not(#title) {
	background-color: /*#A42028*/ #FFFFFF;
	color: #FFFFFF;
	padding: 0;
}

#timetable .content {
	position: relative;
	padding: 0;
	height: calc(100vh - 3rem);
}

#timetable .content .layer {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

#timetable-mbg {
	display: none;
}

#timetable-bg {
	background-image: url('timetable-bg2.png');
	background-size: cover;
	background-position: center;
}

#timetable-content {
	background-image: url('timetable-content.png');
	background-size: contain;
	background-position: center;
}

#timetable-title {
	background-image: url('timetable-title.png');
	background-size: contain;
	background-position: top right;
}

#timetable-pepper {
	background-image: url('timetable-pepper.png');
	background-size: contain;
	background-position: bottom left;
}


/* ISSUE */
#issue {
	background-color: #303030;
	color: #C8C8C8;
	height: calc(100vh - 3em);
}

#issue>.content{
	padding-left: 2%;
	padding-right: 2%;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#issue .items {
	height: 100%;
}

#issue .item {
	-webkit-align-items: stretch;
	    -ms-align-items: stretch;
	        align-items: stretch;
	margin: 0 2%;
	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;
}

#issue .item .pic {
	height: 100%;
	border-radius: 5px;
}

#issue .item .pic>.des {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	padding: 1.5em;
	opacity: 0;
	transition: opacity 300ms;
	border-radius: 5px;
}

#issue .item .des>.name {
/*	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;*/
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}

#issue .item .des>.subt {
/*	text-align: right;*/
	font-size: 1em;
	font-weight: 500;
	text-align: center;
}

#issue .item .pic>.des:hover {
	opacity: 1;
}

#issue #issue1>.pic{
	background-image: url('issue1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#issue #issue2>.pic{
	background-image: url('issue2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#issue #issue3>.pic{
	background-image: url('issue3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* ROUTE */
#route {
	background-color: #1899DB;
}

#route>.content {
	height: calc(100vh - 7em);
}

#route #map{
	height: 100%;
	background-image: url('nopic.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* MEMBER */
#member {
	background-color: #FFFFFF;
	font-size: .8em;
}

#member>.content{
	padding-left: calc(50% - 400px);
	padding-right: calc(50% - 400px);
	text-align: center;
}

#member .items {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

#member .item {
	margin: .5em;
	padding: .5em;
	display: inline-block;
}

#member .item .pic {
	border-radius: 5px;
	margin: 1em;
	text-align: center;
}

#member .item .name {
/*	-webkit-flex: 1 0 0;
	    -ms-flex: 1 0 0;
	        flex: 1 0 0;*/
	width: 100%;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
}

#member #dschool img,
#member #farm img,
#member #ncuee img {
	height: 100px;
}

#member #ntnumusic img {
	height: 4em;
}

#member #nccuit img {
	height: 2.5em;
}

#member #dct img {
	height: 6em;
}

#member #click img,
#member #gloria img,
#member #mst img {
	height: 3em;
}
