@media (min-width: 1400px) {
.section>.content {
	padding: 0 calc(50% - 560px) 1em;
}
}

@media (max-width: 1200px) and (orientation: portrait){
#banner {
	background-image: url('banner.png');
	background-size: 110vw;
	background-position: top right;
}
}

@media (max-width: 850px) and (orientation: portrait) {
#banner {
	background-size: 100vh;
}
}

@media (max-width: 650px) and (orientation: portrait) {
#banner {
	background-image: url('banner3.png');
	background-size: contain;
	background-position: right center;
}
}

@media (max-width: 1120px) {
.section>.content {
	padding: 0 2em 1em;
}

#goal>.content {
	font-size: 1.25em;
}
}

@media (max-width: 850px)
   and (orientation: portrait) {
#banner {
	font-size: 3vw;
}

#titlename {
	top: 4vw;
	left: 6vw;
}

#info {
	bottom: 4vw;
	left: 6vw;
}

#subtitle {
	font-size: 8vw;
}
}

@media (max-width: 850px) {
html {
	font-size: 2.2vw;
}

.p-column {
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.section>.content {
	padding: 0 1em 1em;
}

#activity .item {
	width: 100%;
	margin: .5em 0;
}

#activity .item .pic {
	height: 12em;
	width: 40%;
}

#activity .item .pic {
}

#issue {
	height: auto;
}

#issue .item {
	margin: .5em 10%;
	width: 80%;
}

#issue .item .pic {
	height: 50vh;
}

#member>.content{
	padding-left: 2%;
	padding-right: 2%;
}
}

@media (max-width: 600px) {
.s-column {
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

html {
	font-size: 4vw;
}

br.s-show{
	display: initial;
}

#navbar #buttons {
	font-size: 0.6em;
	line-height: 1.5em;
}

.section:not(#title) {
	padding: .5em 0 .75em;
}

.section>.content {
	padding: 0 1em 1em;
}

#activity .item {
	width: 90%;
	margin: 0 5%;
}

#activity .item .pic {
	width: 100%;
}

#activity .item .des {
	padding: 0.5em 0;
}

#timetable .content>table {
	width: 100%;
	margin: .5em 0;
}

#issue {
	height: auto;
}

#issue .item {
	margin: .5em 5%;
	width: 90%;
}

#issue .item .pic {
	height: 50vh;
}

#issue .item .pic>.des {
	opacity: 1;
}

#member .item {
	width: 90%;
	margin: .5em 5%;
	padding: .5em;
}

#member .item .pic {
	width: 20vw;
	height: 20vw;
	border-radius: 5px;
}
}